* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    display: block;
}

// VARIABLES

//COLOR

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-btn: #f56a6a;

// FONTS

$font-main: "Open Sans", sans-serif;

.btn {
    margin-top: 2rem;

    border-radius: 0.375em;
    border: 0;
    box-shadow: inset -1px 2px 20px 0px $color-btn;
    color: $color-btn;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 2.5rem;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.4s;

    &:hover {
        box-shadow: inset -1px -3px 20px 3px $color-btn;
    }
}
