*{
    margin: 0;
    padding: 0;
    outline: none;
    border:none;
}
*,
*::before,
*::after {   
    box-sizing: inherit;
    display: block;
}

a,
a:visited,
a:hover{
    text-decoration: none;
}
ul,
li{
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

.container{
    max-width: 120rem;
     
}

